# Unit 771948_A23_T3A - Coursework
### Authors:

### 1.1: Processing Dataset For Classification Problem.

In [3]:
import pandas as pd

raw_data = pd.read_excel("dataset1.xlsx")
raw_data.head()

,target,var1,var2,var3,var4,var5,var6,var7
0,0,509.18,417.681,Micronesia,138.0,393.00,no,2019-07-20 13:21:37
1,0,446.06,666.182,Dominica,81.0,352.05,yes,2019-04-04 21:30:46
2,1,235.50,398.097,Isle of Man,90.0,339.00,no,2019-03-03 02:59:37
3,0,306.02,518.163,Turkmenistan,102.0,439.25,yes,2019-03-19 08:00:58
4,0,453.08,600.156,Cameroon,105.0,422.95,no,2019-03-18 13:22:35

In [8]:
X, y = raw_data.iloc[:,1:], raw_data.iloc[:,0]  # separating out features and labels.
X.describe()

             var1        var2        var4        var5
count  925.000000  925.000000  325.000000  925.000000
mean   360.116562  548.390134  108.452308  325.393946
std     87.866662  135.221460   26.325744   78.862779
min    209.560000  139.965000   57.000000  163.000000
25%    278.640000  467.373000   87.000000  257.900000
50%    367.640000  569.841000  105.000000  342.350000
75%    437.600000  652.278000  126.000000  393.000000
max    539.920000  794.848000  180.000000  457.150000

In [10]:
len(X["var3"].unique())  # counting number of unique categories in var3.

236

In [16]:
from collections import Counter
Counter(X["var3"])  # counting item occurences in var3.

Counter({'Czech Republic': 9,
         'South Africa': 8,
         'Australia': 8,
         'Greece': 8,
         'Senegal': 8,
         'Micronesia': 7,
         'Luxembourg': 7,
         'Albania': 7,
         'Cyprus': 7,
         'France': 7,
         'Burundi': 7,
         'Turkey': 7,
         'Liberia': 7,
         'Bosnia and Herzegovina': 7,
         'Cambodia': 7,
         'Algeria': 6,
         'Mexico': 6,
         'Saint Vincent and the Grenadines': 6,
         'Eritrea': 6,
         'Belarus': 6,
         'Ethiopia': 6,
         'Taiwan': 6,
         'Singapore': 6,
         'Western Sahara': 6,
         'Mongolia': 6,
         'Gabon': 6,
         'Bahamas': 6,
         'Peru': 6,
         'Costa Rica': 6,
         'Afghanistan': 6,
         'Jersey': 6,
         'Hong Kong': 6,
         'Malta': 6,
         'Samoa': 6,
         'Moldova': 6,
         'China': 6,
         'Christmas Island': 6,
         'Zimbabwe': 6,
         'Cameroon': 5,
         'Greenland': 5,
         'Egypt': 5,
         'Austria': 5,
         'Brunei Darussalam': 5,
         'Brazil': 5,
         'United States of America': 5,
         'Bouvet Island (Bouvetoya)': 5,
         'American Samoa': 5,
         'Turks and Caicos Islands': 5,
         'Saint Pierre and Miquelon': 5,
         'Italy': 5,
         'Svalbard & Jan Mayen Islands': 5,
         'Jamaica': 5,
         'French Southern Territories': 5,
         'Tonga': 5,
         'Bulgaria': 5,
         'Fiji': 5,
         'Canada': 5,
         'Lebanon': 5,
         'Honduras': 5,
         'Puerto Rico': 5,
         'Iran': 5,
         'Uruguay': 5,
         'Vanuatu': 5,
         'Hungary': 5,
         'Qatar': 5,
         'Bahrain': 5,
         'Ukraine': 5,
         'Rwanda': 5,
         'Serbia': 5,
         'Timor-Leste': 5,
         'Madagascar': 5,
         'Cuba': 5,
         'Netherlands Antilles': 5,
         'Bolivia': 5,
         'Croatia': 5,
         'Korea': 5,
         'Philippines': 5,
         'Belgium': 5,
         'Papua New Guinea': 5,
         'Antigua and Barbuda': 5,
         'Ecuador': 5,
         'Somalia': 5,
         'Venezuela': 5,
         'Poland': 5,
         'Indonesia': 5,
         'Cayman Islands': 5,
         'Mayotte': 5,
         'Dominica': 4,
         'Turkmenistan': 4,
         'Liechtenstein': 4,
         'French Guiana': 4,
         'Barbados': 4,
         'Chad': 4,
         'Equatorial Guinea': 4,
         'Grenada': 4,
         'Belize': 4,
         'Guam': 4,
         'Saudi Arabia': 4,
         'Thailand': 4,
         'French Polynesia': 4,
         'Palau': 4,
         'Saint Helena': 4,
         'Guyana': 4,
         'Angola': 4,
         'Latvia': 4,
         'Martinique': 4,
         "Lao People's Democratic Republic": 4,
         'Pakistan': 4,
         'Guatemala': 4,
         'Kazakhstan': 4,
         'Israel': 4,
         'United States Minor Outlying Islands': 4,
         'Bangladesh': 4,
         'Georgia': 4,
         'Mali': 4,
         'Anguilla': 4,
         'Falkland Islands (Malvinas)': 4,
         'New Zealand': 4,
         'Wallis and Futuna': 4,
         'Mauritius': 4,
         'Sweden': 4,
         "Cote d'Ivoire": 4,
         'Switzerland': 4,
         'Finland': 4,
         'Myanmar': 4,
         'Dominican Republic': 4,
         'Zambia': 4,
         'Kyrgyz Republic': 4,
         'El Salvador': 4,
         'United Arab Emirates': 4,
         'Ghana': 4,
         'Malawi': 4,
         'Uganda': 4,
         'Japan': 4,
         'Norfolk Island': 4,
         'Kenya': 4,
         'United States Virgin Islands': 4,
         'Tuvalu': 4,
         'Sri Lanka': 4,
         'Burkina Faso': 4,
         'Saint Martin': 4,
         'Tokelau': 4,
         'Libyan Arab Jamahiriya': 4,
         'Isle of Man': 3,
         'Netherlands': 3,
         'Armenia': 3,
         'Guinea': 3,
         'Estonia': 3,
         'Morocco': 3,
         'Tajikistan': 3,
         'Guernsey': 3,
         'Lithuania': 3,
         'Vietnam': 3,
         'Syrian Arab Republic': 3,
         'Faroe Islands': 3,
         'Seychelles': 3,
         'Azerbaijan': 3,
         'Nauru': 3,
         'Macao': 3,
         'Monaco': 3,
         'British Virgin Islands': 3,
         'Yemen': 3,
         'Nicaragua': 3,
         'Denmark': 3,
         'Palestinian Territory': 3,
         'Heard Island and McDonald Islands': 3,
         'Ireland': 3,
         'Niue': 3,
         'Gibraltar': 3,
         'Iceland': 3,
         'United Kingdom': 3,
         'Spain': 3,
         'Tunisia': 3,
         'Northern Mariana Islands': 3,
         'Congo': 3,
         'Niger': 3,
         'Antarctica (the territory South of 60 deg S)': 3,
         'Chile': 3,
         'Holy See (Vatican City State)': 3,
         'Nepal': 3,
         'Argentina': 2,
         'Tanzania': 2,
         'San Marino': 2,
         'India': 2,
         'Andorra': 2,
         'Gambia': 2,
         'Macedonia': 2,
         'Suriname': 2,
         'Saint Lucia': 2,
         'Trinidad and Tobago': 2,
         'New Caledonia': 2,
         'Saint Barthelemy': 2,
         'Sao Tome and Principe': 2,
         'Mauritania': 2,
         'Togo': 2,
         'Portugal': 2,
         'Swaziland': 2,
         'Bhutan': 2,
         'Paraguay': 2,
         'Panama': 2,
         'Djibouti': 2,
         'Kuwait': 2,
         'Namibia': 2,
         'Slovakia (Slovak Republic)': 2,
         'Central African Republic': 2,
         'Cook Islands': 2,
         'Sudan': 2,
         'Reunion': 2,
         'Norway': 2,
         'Russian Federation': 2,
         'Comoros': 2,
         'Malaysia': 2,
         'Sierra Leone': 2,
         'South Georgia and the South Sandwich Islands': 2,
         'Maldives': 2,
         'Montenegro': 2,
         'Pitcairn Islands': 2,
         'Colombia': 2,
         'Uzbekistan': 2,
         'Guinea-Bissau': 2,
         'Jordan': 1,
         'Montserrat': 1,
         'Kiribati': 1,
         'British Indian Ocean Territory (Chagos Archipelago)': 1,
         'Lesotho': 1,
         'Bermuda': 1,
         'Guadeloupe': 1,
         'Marshall Islands': 1,
         'Benin': 1,
         'Slovenia': 1,
         'Aruba': 1,
         'Cape Verde': 1,
         'Mozambique': 1,
         'Germany': 1,
         'Haiti': 1,
         'Saint Kitts and Nevis': 1})

In [17]:
Counter(X["var6"])  # counting item occurences in var6.

Counter({'yes': 483, 'no': 442})

In [37]:
[x for x in X["var7"] if type(x)==str]  # exploring the string values in var7.

['2019-02-29 12:31:57',
 '2019-02-29 18:06:21',
 '2019-02-29 11:00:06',
 '2019-02-29 23:56:06',
 '2019-02-29 19:26:35']